listview row:selected {
    background: transparent;
    color: inherit;
}

.listbox-head {
   font-size: 12pt;
}

.note-title {
  font-size: 1.5em;
}

.active-item {
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
}

.selected-item {
   background-color: alpha(@accent_color, 0.3);  /* rgba(53, 132, 228, 0.3); */
   /* color: #ffffff;  @accent_fg_color; */
}

.tag-count {
   padding: 4px;
   border-radius: 5px;
}

/*
.tag-count-light {
   background-color: #ccc;
}

.tag-count-dark {
   background-color: #555;
}
*/

.sidebar-light {
   background-color: #eee;
}

.sidebar-dark {
   background-color: #303030;
}

.table-border {
   border-style: solid;
   border-width: 1px;
   border-color: #888;
}

.row-border {
   padding: 1px;
}

.drop-area {
  border-style: dashed;
  border-width: 1px;
  border-color: #888;
}
