.listbox-head {
   font-size: 12pt;
}

.note-title {
  font-size: 1.5em;
}

.active-item {
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
}

.tag-count {
   padding: 4px;
   border-radius: 5px;
}

/*
.tag-count-light {
   background-color: #ccc;
}

.tag-count-dark {
   background-color: #555;
}
*/

.sidebar-light {
   background-color: #eee;
}

.sidebar-dark {
   background-color: #303030;
}

.table-border {
   border-style: solid;
   border-width: 1px;
   border-color: #888;
}

.drop-area {
  border-style: dashed;
  border-width: 1px;
  border-color: #888;
}